<div id="list-<%= @cafe.id %>" class="list-button">
  <% if !current_user.nil? && current_user.list?(@cafe) %>
    <%= render 'users/unlist' %>
  <% else %>
    <%= render 'users/list' %>
  <% end %>
</div>
