<% provide(:title, "カフェ登録") %>
<div class="container">
  <h1>カフェ登録</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'cafes/cafe_form' %>
    </div>
  </div>
</div>
